
.more {
  display: block;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-align: center;
}
.listItem {
  padding: 0.4rem;
  border-bottom: 0.005rem solid #ddd;
}
.listItem > h4 {
  margin: 0
}