.avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding-left: .1rem;
  padding-right: .1rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
}
